.cadastrolivro-div {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-weight: normal;
    color: rgb(53, 53, 53);
    margin-bottom: -15px;
}

.cadastrolivro-div form {
    background-color: rgb(242, 242, 242);
    height: 785px;
    width: 600px;
    box-shadow: 10px 10px 35px 5px #774dd01c;
    border-radius: 7px;
}

.cadastrolivro-div form input {
    width: 420px;
    height: 45px;
    background-color: rgb(242, 242, 242);
    font-size: 18px;
    display: flex;
    border: 1px solid #00000032;
    margin-bottom: 25px;
    margin-top: 0px;
    margin-left: 15%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.cadastrolivro-div form input::placeholder {
    font-size: 17px;
    opacity: 0.5;
}

.logoca {
    height: 200%;
    margin-left: 6%;
    margin-top: -2%;
    color: rgb(255, 255, 255);
}

.acessos {
    display: flex;
    justify-content: center;
}

.link {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 18px;
    margin-top: 1.6%;
    margin-bottom: 0px;
    margin-left: 25%;
    color: #774dd0ca;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#login {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 16px;
    margin-left: 15%;
    margin-bottom: 6%;
    color: rgba(0, 0, 0, 0.455);
    letter-spacing: 0.5px;
}

.nomeCadastrolivro {
    margin-left: 15%;
    margin-top: 8%;
    color: black;
}

.buttonCriarLivro {
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 425px;
    border-radius: 7px;
    background: rgb(0, 216, 58);
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
    transition: all 0.2s;
    margin-left: 14.5%;
    margin-top: 2.5%;
    border: none;
}

.buttonCriarLivro:hover {
    background: rgba(0, 216, 58, 0.786);
    color: #ffffff;
    transition: .25s;
}

.actions {
    margin-bottom: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.livroSalvo {
    font-size: 50px;
    margin-left: 45%;
    margin-top: 5%;
    color: rgba(0, 216, 58, 0.786);
    opacity: 0; /* Defina a opacidade como 0 para que o ícone seja invisível inicialmente */
    transition: opacity 0.5s ease-in-out; /* Defina a transição para a propriedade de opacidade */
}
  
  
.livroSalvo--mostrar {
    opacity: 1; /* Defina a opacidade como 1 para que o ícone seja visível */
    margin-left: 45%; /* Defina a margem esquerda para que o ícone apareça deslizando do lado esquerdo para o centro */
}