body{
    background-color: rgb(77, 69, 75);
}

.box-principal{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 550px;
    width: 600px;
    padding: 15px;
    margin-left: 950px;
    margin-top: 100px;
    
}

.box-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: grid;
    justify-content: center;
    align-items: center;
}

h2{
    margin-left: 50px;
    margin-top: 60px;
    margin-bottom: 40px;
}

input{
    border-width: 0.1px;
    padding: 6px;
    height: 25px;
    width: 490px;
    margin-bottom: 20px; 
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: rgb(211, 211, 211);
    outline: none;
    font-size: 15px;
}

.button{
    background-color: rgb(77, 69, 75);
    color: rgb(255, 255, 255);
    border: none;
    height: 35px;
    width: 120px;
    border-radius: 7px;
    margin: 1px;
    margin-top: 50px;
}

#btnVoltar:hover{
    background-color: rgb(96, 94, 96);
    margin-left: 2px;
    margin-top: 49px;
}

#btnCadastrar:hover{
    background-color: rgb(96, 94, 96);
    margin-left: 2px;
    margin-top: 49px;
}

.input:hover{
    border-color:  rgb(77, 69, 75);
}
